.formulario-container {
    width: 100%;
    background-color: white;
    height: auto;
    text-align: center;
    padding: 50px;
}

.formulario-container h3 {
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 25px;
}

#formulario-cadastro {
    height: auto;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}

#formulario-cadastro input {
    width: 250px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 25px;
    padding-inline: 8px;
    border: none;
    background-color: whitesmoke;
}

#formulario-cadastro button {
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid blue;
    background: none;
    font-weight: 900;
    margin-bottom: 20px;
}

#formulario-cadastro button:hover {
    background-color: blue;
}