* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    height: 800px;
}

header.cabecalho {
    background-color: #010175;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 2;
}

header.cabecalho {
    width: 100%;
    height: 125px;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 100px;
    position: absolute;
    top: calc(20% - 25px);;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-img img {
    width: 100px;
    height: auto;
}

.logo p {
  color: #FFF;
  text-align: center;
}

.menu-lista {
    display: flex;
    gap: 32px;
    list-style: none;
}

.menu-lista a {
    text-decoration: none;
    color: #FFF;
    padding-block: 3px;
}

.menu-lista a:hover {
    border-bottom: 3px solid white;
}

.menu-btn {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #FFF;
    cursor: pointer;
}

.menu-btn::before, .menu-btn::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FFF;
    margin-top: 5px;
}

.user-container {
  position: absolute;
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  top: calc(40% - 25px);
  right: 25px;
  border-radius: 50%;
  display: flex;
}

.user-container:hover {
  background-color: white;
}

.user-container img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

/*botao de login ou cadastro*/


/* conteudo da principal da página*/
.feed {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .curso {
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    flex-basis: 370px;
  }

  .curso img {
    width: 100%;
    height: 270px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .curso h3 {
    margin-top: 0;
  }
  
  .curso p {
    margin-bottom: 10px;
  }

  .curso a {
    text-decoration: none;
    color: black;
    background-color: rgb(36, 219, 0);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(26, 156, 0);
    box-shadow: 1px 1px 9px ;
    display: block;
    margin-top: 10px;
    text-align: center;
  }

/*rodape da pagina*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .contact-info p {
    margin: 5px 0;
  }