
section.slider-show {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-show-container {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-show-container input{
    display: none;
}

.slider-box-images {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slider-box-images img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 290px;
    display: flex;
    justify-content: center;
}

.nav-manual .btn-manual, .nav-auto div {
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.nav-manual .btn-manual:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 15px;
}

.nav-manual .btn-manual:hover {
    background-color: #010175;
}

#btn-slider1:checked ~ .nav-auto .btn-auto1, #btn-slider2:checked ~ .nav-auto .btn-auto2, #btn-slider3:checked ~ .nav-auto .btn-auto3{
    background-color: #010175;
}

#btn-slider1:checked ~ .slidershow-one {
    margin-left: 0%;
}
#btn-slider2:checked ~ .slidershow-two {
    margin-left: -25%;
}
#btn-slider3:checked ~ .slidershow-three {
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .slider-image-desktop{
        display: none;
    }
}